.task1 .item .description {
  display: flex;
}

.task2 .item .description  {
  display: flex;
  flex-direction: row;
}

.task3 .item .description  {
  display: flex;
  flex-direction: row-reverse;
}

.task4 .item .description  {
  display: flex;
  flex-direction: column;
}

.task5 .item .description  {
  display: flex;
  flex-direction: column-reverse;
}

.task6 .item .description  {
  display: flex;
  flex-wrap: wrap;
}

.task7 .item .description  {
  display: flex;
  flex-wrap: nowrap;
}

.task8 .item .description  {
  display: flex;
  flex-wrap: wrap-reverse;
}

.task9 .item .description  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.task10 .item .description  {
  display: flex;
  justify-content: flex-start;
}

.task11 .item .description  {
  display: flex;
  justify-content: flex-end;
}

.task12 .item .description  {
  display: flex;
  justify-content: center;
}

.task13 .item .description  {
  display: flex;
  justify-content: space-between;
}

.task14 .item .description  {
  display: flex;
  justify-content: space-around;
}

.task15 .item .description  {
  display: flex;
  justify-content: space-evenly;
}

.task16 .item .description  {
  display: flex;
  justify-content: stretch;
}

.task17 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.task18 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.task19 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.task20 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.task21 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.task22 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.task23 .item .description  {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.task24 .item .description  {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.task25 .item .description  {
  display: flex;
  align-items: flex-start;
}

.task26 .item .description  {
  display: flex;
  align-items: flex-end;
}

.task27 .item .description  {
  display: flex;
  align-items: center;
}

.task28 .item .description  {
  display: flex;
  justify-content: stretch;
}

.task29 .item .description  {
  display: flex;
  align-items: baseline;
}

.task30 .item1 .description  {
  align-items: flex-start;
}

.task31 .item2 .description {
  align-items: flex-end;
}

.task32 .item3 .description {
  align-items: center;
}

.task33 .item4 .description {
  align-items: stretch;
}

.task34 .item1 .description {
    flex-basis: 50%;
}

.task35 .item2 .description {
  flex-grow: 1 2 3 100px;
}

.task36 .item3 .description {
  flex-shrink: 0.5;
}

.task37 .item4 .description {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.task38 .description .item {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
}

.task39 .item .description {
  flex-direction: row;
  row-gap: 20px;
  column-gap: 30px;
}
.task39 .item3 .description {
  justify-content: flex-start;
}
